h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.movie__card {
  height: 470px;
  width: 220px;
}

.movie__poster {
  height: 400px;
  width: 220px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
}

.movie__poster:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.card__footerDetails {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
